<div>
    <!-- <h2>Software Extraordinaire you say?</h2> -->
    Well, that depends on how modest I'm feeling.<br /><br />
    I do have quite a bit of experience with a broad range of technologies and languages. My fascination with code started with scripting and web design in my early teens and has filled me with the passion that I have for my work today. I continue to stay on top of new technologies and can regularly be found experimenting and working on side projects until four in the morning. I love solving problems and taking on difficult challenges. If you have one... bring it on.<br /><br />
    The links below will be especially useful to you if you are looking to sneak a peak at my most up to date resume:
</div>
<div>
    <a href="files/Resume.pdf" class="big">Download Resume (PDF)</a><br />
    <a href="files/Resume.doc" class="big">Download Resume (Word Doc)</a>
</div>
